.navbar {
    z-index: 1030; /* Bootstrap fixed-top by default */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* avoid horizontal scrolls  */
}

.nav-link {
    transition: all 0.2s ease-in-out;
}

.nav-active {
    border-bottom: 3px solid #0d6efd; /* Bootstrap blu */
    font-weight: bold; /* text bigger */
    color: #0d6efd !important; /* blu text */
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
